*.pyc
*~
data/shapefiles/tiger*/*.zip
.env

# Pycharm IDE
.idea/
# Local Settings
settings_local.py
# We dont need any downloaded zip or shape files in the repo
data/shapefiles/**/*.zip
data/shapefiles/**/*.dbf
data/shapefiles/**/*.prj
data/shapefiles/**/*.shp
data/shapefiles/**/*.shx
# Removing static_collected
static_collected
