[submodule "externals/represent-boundaries"]
	path = externals/represent-boundaries
	url = https://github.com/rhymeswithcycle/represent-boundaries
[submodule "externals/represent-maps"]
	path = externals/represent-maps
	url = https://github.com/tauberer/represent-maps
